# Make Artist Data for Part 2

In [109]:
import pandas as pd
#df = pd.read_csv('data/beatles_test.csv')
#df = pd.read_csv('data/year2009_test.csv')
#df = pd.read_csv('data/year1962_test.csv')
df = pd.read_csv('data/year2012_2021_test.csv')

df

,Year,Place,Title,Artist,Featuring,Title_url,Released,Genre 1,Genre 2,Genre 3,Length,Label,Total Labels,Writer 1,Writer 2,Youtube
0,2012,1,Somebody That I Used to Know,Gotye,Kimbra,/wiki/Somebody_That_I_Used_to_Know,2011.0,Art pop,Alternative rock,NaN,4:04,Eleven,1.0,Wally de Backer,NaN,NaN
1,2012,2,Call Me Maybe,Carly Rae Jepsen,NaN,/wiki/Call_Me_Maybe,2011.0,Pop,Teen pop,Dance-pop,3:13,604,3.0,Carly Rae Jepsen,Josh Ramsay,https://www.youtube.com/watch?v=fWNaR-rxAic
2,2012,3,We Are Young,Fun,Janelle Monáe,/wiki/We_Are_Young,2011.0,Stadium rock,Indie rock,Indie pop,4:10,Fueled by Ramen,3.0,Jack Antonoff,Jeff Bhasker,NaN
3,2012,4,Payphone,Maroon 5,Wiz Khalifa,/wiki/Payphone_(song),2012.0,Pop,R&b,NaN,3:51,A&M Octone,1.0,Adam Levine,Benjamin Levin,https://www.youtube.com/watch?v=KRaWnd3LJfs
4,2012,5,Lights,Ellie Goulding,NaN,/wiki/Lights_(Ellie_Goulding_song),2011.0,Synth-pop,NaN,NaN,4:05,Polydor,1.0,Ellie Goulding,Richard Stannard,https://www.youtube.com/watch?v=0NKUpo_xKyQ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2021,96,Things a Man Oughta Know,Lainey Wilson,NaN,/wiki/Things_a_Man_Oughta_Know,2020.0,Country,NaN,NaN,3:26,Broken Bow,1.0,Lainey Wilson,Jason Nix,https://www.youtube.com/watch?v=ScKbhJtfuLg
996,2021,97,Throat Baby (Go Baby),BRS Kash,NaN,/wiki/Throat_Baby_(Go_Baby),2020.0,Dirty rap,R&b,NaN,3:38,LVRN,2.0,Kenneth Duncan,NaN,https://www.youtube.com/watch?v=fmNzZOZj3W0
997,2021,98,Tombstone,Rod Wave,NaN,/wiki/Tombstone_(song),2021.0,NaN,NaN,NaN,2:40,Alamo,1.0,Rodarius Green,Eric Foley Jr.,https://www.youtube.com/watch?v=wo9AlOrQ3iE
998,2021,99,Drinkin' Beer. Talkin' God. Amen.,Chase Rice,Florida Georgia Line,/wiki/Drinkin%27_Beer._Talkin%27_God._Amen.,2020.0,Country,NaN,NaN,2:40,Broken Bow,2.0,Chase Rice,Cale Dodds,https://www.youtube.com/watch?v=wpS2oX9ASLc
999,2021,100,Todo de Ti,Rauw Alejandro,NaN,/wiki/Todo_de_Ti,2021.0,Dance-pop,Electropop,NaN,3:19,Sony Latin,1.0,"Eric ""Duars"" Pérez Rovira","José M. Collazo ""Colla""",https://www.youtube.com/watch?v=CFPLIaMpGrY

In [112]:
artist = df['Artist'].dropna().tolist()
featuring = df['Featuring'].dropna().tolist()
writer1 = df['Writer 1'].dropna().tolist()
writer2 = df['Writer 2'].dropna().tolist()
all_people = [*artist, *featuring, *writer1, *writer2 ]
all_people = sorted(set(all_people))
len(all_people)

1280

In [3]:
#df[df['Artist'] == 'Miguel']
#df[df['Writer 1'] == 'Aubrey Graham']


## Find similarities  (OBS: Maybe make it do it one year at the time! Only comparing people from the same year)
### GoaI: Find out if it is the same person under another name?
I wanna make a training model that I can train with my data. I will make a bunch of list with the following names:
- interesting_pairs # Example: 'Beyoncé' and 'Beyoncé Knowles'. I want this count as the same person. The algorithm should find a bunch of names that could be a potential pseudonym or slightly longer/shorter name.
- approved_list # When ever i manually approve a match, i want the program to remember, so I don't have to do it again.
- ignoring_list # Common names like Max, might pop up alot. So this list automatically remove them from future checks

It should result in a list that I can apply the proper changes to my dataset. So the singer / writers get the real credit.

In [113]:
# Not implemented yet!
other_connections = [['Lennon','Lennon-McCartney','John Lennon'],['McCartney','Lennon-McCartney','John McCartney']]

interesting_pairs = []

for x in all_people:
    for y in all_people:
        if(x in y and x != y):
            interesting_pairs.append([x,y])
            #print(x, " is similar to ", y)

len(interesting_pairs)
#interesting_pairs

60

In [114]:
# OBS: dont run this, unless you want to reset the lists!
#ignoring_list = [["Train","Meghan Trainor"]]
#approved_list = [['Beyoncé', 'Beyoncé Knowles']]
#list_to_change = []

In [115]:
ignoring_list = load_ignoring_list()
approved_list = load_approved_list()
#list_to_change = []
#approved_list

#### Initial scan to remove known cases.

In [116]:
# This function remove everything that already have been scanned before. So we don't have to manually pick them again in the next part

print('Interesting pairs before first sorting: ',len(interesting_pairs))

for x in interesting_pairs.copy():
    if(x in ignoring_list):
        interesting_pairs.remove(x)
    elif(x in approved_list):
        interesting_pairs.remove(x)

print('Interesting pairs affter first sorting: ',len(interesting_pairs))

Interesting pairs before first sorting:  60
Interesting pairs affter first sorting:  0

In [117]:
print("Interesting pairs:",len(interesting_pairs))
print("Approved Words list:",len(approved_list))
print("Ignored Words list:",len(ignoring_list))
#print("List ready for change:",len(list_to_change))

Interesting pairs: 0
Approved Words list: 64
Ignored Words list: 9

In [118]:
print('y = yes, n = no, m = maybe')
for pair in interesting_pairs.copy(): # Can't remove from the same list as we are iterating. So we make a copy
    answer = input(f'Is: {pair[0]} the same as: {pair[1]}?')
    if(answer.lower() == 'y'):
        approved_list.append(pair)
        interesting_pairs.remove(pair)
    elif(answer.lower() == 'n'):
        ignoring_list.append(pair)
        interesting_pairs.remove(pair) 
    elif(answer.lower() == 'm'):
        print('Maybe. Not implemented yet')
    else:
        print('Wrong input')

print('Interesting pairs after second sorting: ',len(interesting_pairs))

y = yes, n = no, m = maybe
Interesting pairs after second sorting:  0

In [119]:
print("Interesting pairs:",len(interesting_pairs))
print("Approved:",len(approved_list))
print("Ignored:",len(ignoring_list))
#print("List ready for change:",len(list_to_change))

Interesting pairs: 0
Approved: 64
Ignored: 9

## Save / Load the wordlists

In [110]:
import pandas as pd
import csv

def save_approved_list(list):
    df = pd.DataFrame(list,columns=['Replacement','Key Word'])
    df.to_csv('data/similar/approved_list.csv', index = False, header=True)
    
def save_ignoring_list(list):
    df = pd.DataFrame(list,columns=['Replacement','Key Word'])
    df.to_csv('data/similar/ignoring_list.csv', index = False, header=True)


def load_approved_list():
    with open('data/similar/approved_list.csv', 'r') as f: 
        return list(csv.reader(f))[1:] # Skip header

def load_ignoring_list():
    with open('data/similar/ignoring_list.csv', 'r') as f: 
        return list(csv.reader(f))[1:] # Skip header

In [399]:
save_approved_list(approved_list)
save_ignoring_list(ignoring_list)

In [64]:
#print("Size of approved list:",len(load_approved_list()))

### Testing concatenating and groupby

In [295]:
data1 = {'Name':['Tom', 'Jonas', 'Peter'],
        'Money':[100, 100, 100],
        'Debt':[50,50,50]}

data2 = {'Name':['Tom', 'Jonas', 'Peter'],
        'Money':[50, 100, 150],
        'Debt':[100,50,0]}
 
# Create DataFrame
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [297]:
df3 = pd.concat([df1, df2], ignore_index=True)
df3

    Name  Money  Debt
0    Tom    100    50
1  Jonas    100    50
2  Peter    100    50
3    Tom     50   100
4  Jonas    100    50
5  Peter    150     0

In [299]:
df3.groupby(['Name']).sum().reset_index()

    Name  Money  Debt
0  Jonas    200   100
1  Peter    250    50
2    Tom    150   150

## Convert from song to a list of artists

In [120]:
def convert_artist_data_into_df(artists_list):
    data_list = []
    for name in artists_list:
        
        # Might be two names associated with a group. Like Sonny & Cher. They should both individually get credits.
        actual_name = check_approved_list(name)
        
        
        main_artist = len(df[df['Artist'] == name])
        featuring_artist = len(df[df['Featuring'] == name])
        writer = len(df[df['Writer 1'] == name]) + len(df[df['Writer 2'] == name])
        
        for x in actual_name:
            data_list.append([x, main_artist, featuring_artist, writer])
    
    # groupby will merge the duplicates. So each artists only have one line, with all their accreditations
    new_df = pd.DataFrame(data_list, columns= ['Name', 'Main Artist' ,'Featuring Artist', 'Writer'] ) 
    return new_df.groupby(['Name']).sum().reset_index()


def check_approved_list(name):
    name_list = [x[0] for x in approved_list if name == x[1]]
        
    if(len(name_list) == 0):
        name_list = [name]
            
    return name_list


#check_approved_list("Lil Baby and Lil Durk")

In [121]:
df_to_csv = convert_artist_data_into_df(all_people)
#df_to_csv = convert_artist_data_into_df(all_people).sort_values("Main Artist", ascending=False).reset_index(drop=True)

df_to_csv

                     Name  Main Artist  Featuring Artist  Writer
0                2 Chainz            2                 2       0
1               21 Savage            2                 4       0
2                24kGoldn            2                 0       0
3                 42 Dugg            0                 1       0
4     5 Seconds of Summer            4                 0       0
...                   ...          ...               ...     ...
1218                 Zedd            4                 1       0
1219               busbee            0                 0       2
1220         iLoveMemphis            1                 0       0
1221         soFLY & Nius            0                 0       1
1222            will.i.am            2                 1       0

[1223 rows x 4 columns]

## Went from 1280 names to 1223. Good start!

In [50]:
df_to_csv.to_csv('data/artist_2012_2021_test.csv', index = False, header=True)

In [418]:
df_artists = pd.read_csv('data/artist_2012_2021_test.csv')
df_artists

                     Name  Main Artist  Featuring Artist  Writer
0                2 Chainz            2                 2       0
1               21 Savage            2                 4       0
2                24kGoldn            2                 0       0
3                 42 Dugg            0                 1       0
4     5 Seconds of Summer            4                 0       0
...                   ...          ...               ...     ...
1227                 Zedd            4                 1       0
1228               busbee            0                 0       2
1229         iLoveMemphis            1                 0       0
1230         soFLY & Nius            0                 0       1
1231            will.i.am            2                 1       0

[1232 rows x 4 columns]

## Clean the approved and ignoring lists. (Seems to be some doubles entries, which will result in getting counted twice!)

In [101]:
test_approved = load_approved_list()
test_ignoring = load_ignoring_list()

In [103]:

def cleanup_approved_list(list):
    new_list = []
    for x in list:
            if(x not in new_list):
                new_list.append(x)
    return sorted(new_list)
    
#print(len(new_list))        
#sorted(new_list)[:20]

In [107]:
print("Approved before cleanup:",len(test_approved))
print("After:",len(cleanup_approved_list(test_approved)))

Approved before cleanup: 107
After: 64

In [105]:
print("Ignoring before cleanup:",len(test_ignoring))
print("After:",len(cleanup_approved_list(test_ignoring)))

Ignoring before cleanup: 16
After: 9

### Found some duplicates, which corrupts the data. So let's save the now 'cleaned' lists

In [111]:
clean_approved = cleanup_approved_list(test_approved)
clean_ignored = cleanup_approved_list(test_ignoring)

save_approved_list(clean_approved)
save_ignoring_list(clean_ignored)

print(len(load_approved_list()))
print(len(load_ignoring_list()))

64
9